<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <div class = "header">
        <a href = "/books">Home</a>
        <a href = "/books/add">Add Book and Review</a>
        <a href = "/logout">Logout</a>
    </div>
    <div class = "userinfo">
        <h3>User Alias: {{user.alias}}</h3>
        <p>Name: {{user.name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Total Reviews:{{books.count}}</p>
        <br>
    </div>
    <div class = "reviewedbooks">
        <p>Posted Reviews on the following books:</p>
        {% for book in books %}
            <p><a href = "/books/{{book.id}}">{{book.title}}</a></p>
        {% endfor %}
    </div>
</body>
</html>